<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Robert P. Goldman</string>
        <key>contactEmailRot13</key>
        <string>ectbyqzna@fvsg.arg</string>
	<key>description</key>
	<string>Emacs editor integration, originally by Alexandru
        Nedelcu, modified for Aquamacs.</string>
	<key>name</key>
	<string>Aquamacs</string>
	<key>uuid</key>
	<string>E4847795-E465-4D15-B435-364DD5FBADAE</string>
</dict>
</plist>
